form {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
justify-content: space-around;
}
form button{
    padding: 15px 25px;
    font-size: larger;
    border-radius: 18px;
}

.hiden {
    display: none;
}

.shown{
    display: block;
    background-color: greenyellow;
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px 20px;
    
}